h1 {
    text-align: center;
    color: #0dc140;
}
background {
  color: rgb(103, 0, 96);
}
div {
  color: rgb(125, 10, 10);
  text-align: center;
}
.game-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.game-buttons button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}
.game-buttons button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
.game-icon {
    width: 32px;
    height: 32px;
    margin-left: 15px;
}