h1 {
    text-align: center;
    color: #0dc140;
}
background {
  color: rgb(103, 0, 96);
}
div {
  color: rgb(125, 10, 10);
  text-align: center;
}
.game-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.game-buttons button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}
.game-icon {
    height: 30px;
    vertical-align: middle;
}